.map{
  width: 100%;
  height: 100%;
  border-radius: 20px;
}

.map-skeleton {
  height: 100%;
  width: 100%;
  background-color: #f0f0f0; // Fallback in case skeleton CSS is unavailable
  border-radius: 20px;
  overflow: hidden;
}